<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  </head>
  <body>
      <header>
        <!--<div id="header_content"> -->
        <p>Ruby Quiz!!!</p>
        <!-- </div>  -->
      </header>
      <div id="main">   
           <div id="tab">
                  <table>
                     <%= form_for :article, url: articles_create_path do |f| %>
                     <tr>
                         <td>Course ID:</td>
                         <td><%= f.text_field :courseid %></td>
                     </tr>
                     <tr>
                         <td>Employee ID:</td>
                         <td> <%= f.text_field :empid %></td>
                     </tr>
                  </table>
                     <%= f.submit value = "Login" %>
                     <%end %>
           </div>
      </div>
     <footer>
       Copyright © tcs.com
     </footer>
  </body>
</html>