catalog
<table >
    <tr>
      <th>server</th>
      <th>vcpu</th>
      <th>vram</th>
      <th>netio</th>
      <th>iops</th>
      <th>disk</th>
      <th>catalog</th>
    </tr>

    <% @array_check.each do |post| %>
    <tr>
    	<%post.each do |a| %>
      <td><%= a[1] %></td>
      <% end %>
    </tr>
    <% end %>
  </table>