<html>
  <body>
    <header><p> RUBY! </p></header>
    <p>Instructions</p>
    <ul>
      <li> There are a set of five questions</li>
      <li> Each weighs five marks</li>
      <li> No negative marks </li>
      <li> Take your own time! No time limits </li>
    </ul>
    <a href="articles_play_path">Ready</a>
  </body>
  
</html>