<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body>
<div id="headd">
  <img src="https://ip.bitcointalk.org/?u=https%3A%2F%2Fdl.dropboxusercontent.com%2Fu%2F18301977%2Fgvans-ruby1-374pix.gif&t=550&c=XmjQCMti3oMd2Q" width="95" height="84" />
  Ruby Quiz!!!
</div>
<div id="contentt">
  
  <ul>
    <p>Instructions:</p>
    <li>There are a set of five questions</li>
    <li>Each weighs five marks</li>
    <li>No negative markings</li>
    <li>No time limits</li>
  </ul>
</div>
<div id="click">
<%=link_to new_article_path do%>
<%=image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0mD4ntxg6YPJoddMCEAIlWubw73iBneVUN9VtwJYROt-RDGOjXQ',width:'100',height:'50')%>
</div>
  
</body>
</html>
<%end%>