<p>
  <strong>Version:</strong>
  <%= @product.versionnumber %>
</p>

<p>
  <strong>Event:</strong>
  <%= @product.incident %>
</p>

<p>
  <strong>Changes:</strong>
  <%= @product.modifications %>
</p>

